In [43]:
import pandas as pd
import numpy as np


df = pd.read_csv("Amazon_Reviews.csv")

#df.info()

df["Place"].info()
df["Place"].str.upper()

#los diccionarios son entre llaves
dict = {
    'city': ['New York, USA', 'Paris, France', 'Berlin, Germxany', 'London, UK'],
    'name': ['John Random', 'Jane Random', 'Peter Random', 'Paul Random'],
    'age': [24, 13, 53, 33],
    'salary_usd': [4012, 5010, 6001, 7100],
    'domain'
: ['random.com', 'random.fr', 'random.de', 'random.uk'],
    'job': ['Data Scientist', 'Data Analyst', 'Data Engineer', 'Data Architect'],
    'company': ['Random Inc.', 'Random Inc.', 'Random Inc.', 'Random Inc.']
}



df = pd.DataFrame(dict)


df["MXN"] = df['salary_usd'].map(lambda x : x *16.9)
df['EUR']= df['salary_usd'].apply(lambda x : x *.123)

#filtros
df[df['age']  >18]


#ordenacion
df[['name','age','salary_usd']].sort_values(by=['salary_usd'], ascending=True)
#           seleccion de columnas            #columna a ordenar

<class 'pandas.core.series.Series'>
RangeIndex: 9990 entries, 0 to 9989
Series name: Place
Non-Null Count  Dtype
--------------  -----
7992 non-null   object
dtypes: object(1)
memory usage: 78.2+ KB

           name  age  salary_usd
0   John Random   24        4012
1   Jane Random   13        5010
2  Peter Random   53        6001
3   Paul Random   33        7100

In [126]:
lista = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]

array = np.array(lista)
matriz= array.reshape(2,9)   #armar matrices de filas y columnas

matriz.shape #mostrar la composicion de la matriz o lista

matriz.size #mostrar el conteo de elementos

matriz.dtype #mostrar el tipo de dato

matriz.itemsize #tamaño de memoria ocupado 


matriz[0] #mostrar el numero de fila

matriz[0,1] #mostrar el numero de fila y columna

matriz[0,0:5] #mostrar el numero de fila y columna por rangos

matriz[matriz >=10] #mostrar los valores con condición 

condicion = matriz % 5 <=0
arreglofiltrado= matriz[condicion]

ReferenciaArray = arreglofiltrado 

ReferenciaArray 

copia = ReferenciaArray.copy() # esto para hace copias de arrays 

copia is ReferenciaArray

copia[2].max()
np.sum(copia) 
np.nansum(copia) #omite los valores na
np.argmin(copia) # devuelve la posicion del valor minomo
np.argmax(copia) # devuelve la posicion del valor maximo

np.any(True) # recibe booleanos para ver si algunos tiene true

np.all(True) # recibe booleanos para ver si todos tiene true

matriz.sum(axis=1)#sumar x fila
matriz.sum(axis=0)#sumar x columna

array([11, 13, 15, 17, 19, 21, 23, 25, 27])